
.aboutimg {
  // margin-left: auto;
  // margin-right: auto;
  height: 30px;
  max-width: 100%;
  border-radius: 5px;
  height: auto; // Fix to keep max-width from squishing images with defined
                // height in HTML
}

input[type="email"], input[type="name"], textarea, button {
  padding: $padding-v $padding-h;
  border: 1px solid $border-color;
}

button {
  border-radius: 0;
}

.contactField {
  margin: 10px;
}

.contactField input, textarea {
  width: 100%;
}


.contactField textarea {
  height: 200px;
}

.contactButton {
  margin: 10px;
}

.contactButton:after {
  content: " ";
  display: block;
  clear: both;
}

.contactButton button {
  float: right;
  padding-right: 1.75em;
  padding-left: 1.75em;
}

#formSubmitted {
  padding: $padding-v $padding-h;
}

#contactGPGMessage {
  margin: 10px;
  margin-top: 2em;
}

/* Youtube Reflexive */
.vid-container {
  position: relative;
  padding-bottom: 50%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 35px;
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
