
.aboutimg {

  margin-left: auto;
  margin-right: auto;
  height: 30px;
  max-width: 100%;
  border-radius: 5px;
  height: auto; // Fix to keep max-width from squishing images with defined
                // height in HTML
}
